<h2> List of all user with their speciality </h2>
<table>
    <tr>
        <td> user name   </td>
        <td> speciality </td>
    </tr>
    <tr></tr>
    <tr></tr>
    
<% @user.each do |user| %>
  <tr>
   <td> <%= user.name    %></td>
    <td><%= user.speciality %></td>
    
   <td> <%= link_to 'post', user_posts_url(user) %></td>
   <td> <%= link_to 'edit', edit_user_url(user) %></td>
   <td> <%= link_to 'delete', user, :method => :delete, :data => {:confirm => "are you sure?" } %></td>
   </tr>
    <% end %>
</table>
<%= link_to 'add_user', new_user_url %>