<%=link_to 'Home',controller: 'users',action: :index %>
<%=  form_with url: user_post_path, model: @post, method: "put", local: true do |form| %>
    
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :text%><br>
        <%= form.text_area :text %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>