<%=link_to 'Home',controller: 'users',action: :index %>
<h2> recently post by user </h2>

<br>

    <%= @post.title %>
    <br><br>
    <%= @post.text %>
    <br>

<%= link_to 'All_posts', action: :index %><br>
<%= link_to 'Add_new_post',action: :new %><br>

